body{
	background-color: gray;
}

#area1{
	background-color: black;
	position:relative;
	top:-320px;
	left:0px;
}
#area2{
	background-color: black;
	position:relative;
	top:-410px;
	left:-35px;
}
#area3{
	background-color: black;
	position:relative;
	top:-460px;
	left:-35px;
}
#area4{
	background-color: black;
	position:relative;
	top:-460px;
	left:-35px;
}
#area5{
	background-color: black;
	position:relative;
	top:-410px;
	left:-30px;
}
#area6{
	background-color: black;
	position:relative;
	top:-320px;
	left:-75px;
}
#controller{
	position:relative;
	top:50px;
	width:300px;
	}
.area {
	text-align:center;
	height:80px;
	width:80px;
	float:left;
}
#logo {
	background-color: black;
	width:485px;
	text-align:center;
}
.areaboth {
	text-align:center;
	height:110px;
	width:90px;
	float:left;
}
#own {
	position:relative;
	top:-100px;
	left:120px;
	float:left;
}

.enemy {
	margin-top:-140px;
	position:relative;
	left:30px;
}
.clear{
	clear:both;
}